@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  color: white;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
}

body {
  background-color: rgb(59, 59, 59);
}

header {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-inline: 315px;
  height: 80px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 72px;
}

nav a {
  color: #bf4f74;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 25px;
}

nav a:hover {
  background-color: rgb(95, 95, 95);
}

.hero article {
  max-width: 600px;
}

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

article {
  display: grid;
  gap: 15px;
}

#prosjekter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 60px; */
}

#prosjekter p {
  width: 500px;
}

.prosjekt_kort {
  /* margin: 24px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo figure {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(95, 95, 95);
  padding: 10px;
  width: fit-content;
}

.img_pb img {
  height: 400px;
  width: auto;
  border-radius: 24px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.logo img {
  height: 75px;
  width: auto;
  margin: 10px;
}

#footer p {
  display: flex;
  justify-content: center;
}

.prosjekt_kort_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

#prosjekter div .prosjekt_kort {
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  padding: 15px;
  flex-direction: column;
  padding: 16px;
}

#prosjekter div .prosjekt_kort p {
  font-size: 16px;
}

#prosjekter div a {
  height: 300px;
}

#prosjekter div a img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btnToTop {
  display: flex;
  justify-content: center;
  align-content: center;
}

.btnToTop button {
  background-color: transparent;
  border: none;
}
