* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 40px;
}

body {
  background-color: rgb(59, 59, 59);
}

header {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-inline: 315px;
  height: 80px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 72px;
}

nav a {
  color: #bf4f74;
  text-decoration: none;
}

nav a:hover {
  background-color: rgb(95, 95, 95);
  padding: 10px;
}

.hero article {
  max-width: 600px;
}

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

article {
  display: grid;
  gap: 15px;
}

#prosjekter {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(95, 95, 95);
  padding: 10px;
  width: fit-content;
}

.img_pb img {
  height: 400px;
  width: auto;
  border-radius: 24px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.logo img {
  height: 75px;
  width: auto;
  margin: 10px;
}

#footer p {
  display: flex;
  justify-content: center;
}

#prosjekter figure img{
  height: 250px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: self-start;

}
